<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
		<title>MeatKing</title>

		<!-- meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

		<!-- css -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">

		<!-- google font -->
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Kreon:300,400,700'>

		<!-- js -->
		<script src="/javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<body data-spy="scroll" data-target="#navbar" data-offset="120" >
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header visible-xs">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><h2>{{headTitle}}</h2></a>
				</div><!-- navbar-header -->

				<div id="navbar" class="navbar-collapse collapse">
					<div class="hidden-xs" id="logo"><a href="#header">
						<!--<img src="/images/logo.png" alt="">-->
						<img src="/images/LOGO.png" alt="">
					</a></div>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#story">Story</a></li>
						<li><a href="#reservation">Reservation</a></li>
						<li><a href="#chefs">Our Chefs</a></li>


						<li><a href="#facts">Facts</a></li>
						<li><a href="#food-menu">Food Menu</a></li>
						<li><a href="#special-offser">Special Offers</a></li>

						<!--fix for scroll spy active menu element-->
						<li style="display:none;"><a href="#header"></a></li>

					</ul>
				</div><!--/.navbar-collapse -->
			</div><!-- container -->
		</div><!-- menu -->



{{{body}}}



		<footer id="footer" class="dark-wrapper">
			<section class="ss-style-top"></section>
			<div class="container inner">
				<div class="row">
					<div class="col-sm-6">
						&copy; Copyright {{head.title}} 2017
						<br/>Designed By <a class="themeBy" href="http://www.kowus.xyz">Barnabas Nomo</a>
					</div>
					<div class="col-sm-6">
						<div class="social-bar">
							<a href="#" class="fa fa-instagram tooltipped" title=""></a>
							<a href="#" class="fa fa-youtube-square tooltipped" title=""></a>
							<a href="#" class="fa fa-facebook-square tooltipped" title=""></a>
							<a href="#" class="fa fa-pinterest-square tooltipped" title=""></a>
							<a href="#" class="fa fa-google-plus-square tooltipped" title=""></a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</footer>

		<script src="/javascripts/jquery-2.1.3.min.js"></script>
		<script src="/javascripts/jquery.actual.min.js"></script>
		<script src="/javascripts/jquery.scrollTo.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>